* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
}
h2,
h3,
h4,
p {
  letter-spacing: 6px;
  line-height: 50px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: black;
}
.header__title {
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.header__title h1 {
  font-size: 26px;
  opacity: 0.9;
  color: #fff;
}

.main__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__info-title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contacts {
  display: flex;
  gap: 30px;
}

.contacts img {
  width: 40px;
  height: 40px;
  transition: all 0.6s ease-in-out;
}

.contacts img:hover {
  width: 45px;
  height: 45px;
  background-color: rgb(190, 195, 195);
  border-radius: 80%;
}

.main__info-photo {
  width: 33%;
  overflow: hidden;
  border: 10px solid #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  animation: img-animate 5s infinite alternate;
}
.main__info-photo img {
  width: 100%;
  height: 100%;
}

@keyframes img-animate {
  0% {
    border-radius: 85% 15% 83% 17% / 11% 73% 27% 89%;
  }
  40% {
    border-radius: 91% 9% 100% 0% / 8% 90% 10% 92%;
  }
  60% {
    border-radius: 50% 50% 63% 37% / 51% 41% 59% 49%;
  }
  100% {
    border-radius: 82% 18% 95% 5% / 32% 72% 28% 68%;
  }
}
.main__info-edu {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  font-weight: 500;
}

.facts h2 {
  display: flex;
  justify-content: center;
}

.fact__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500;
  list-style-type: square;
}
.fact__list li {
  margin: 0 15px;
}

.slider {
  max-width: 80%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 12px 11px 38px 8px rgba(34, 60, 80, 0.2);
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider-line img {
  border-radius: 6px;
}

.control__btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.button {
  border: none;
  width: 100px;
  height: 30px;
  background-color: rgb(57, 57, 201, 0.8);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-color: rgb(237, 22, 22, 0.7);
}

.footer {
  background: #000000;
  height: 100%;
}
.footer__text {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media all and (max-width: 753px) {
  .main__info-photo {
    width: 60%;
  }
  .main__info-title {
    gap: 20px;
  }
  .fact__list {
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    line-height: 25px;
  }
  .footer__text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media all and (max-width: 400px) {
  .main__info {
    gap: 20px;
  }
  .main__info-photo {
    width: 75%;
  }
  .header__title h1 {
    font-size: 20px;
  }
  h2,
  h3,
  h4,
  p {
    letter-spacing: 2px;
    line-height: 30px;
  }
  .hero__info h2,
  h3,
  h4,
  p {
    font-size: 14px;
  }
  .contacts {
    margin: 10px 0;
  }
  .contacts img {
    width: 30px;
    height: 30px;
  }
  .main__info-edu span {
    font-size: 14px;
  }
  .facts__title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .fact__list li {
    font-size: 12px;
  }
  .footer__text {
    font-size: 16px;
  }
}
